
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}



form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 20px;
  /* background-color: #b5c7fb; */
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

& button {
  border-radius: 10px;
  width: 60px;
  border: none;
  cursor: pointer;
  background-color: rgb(162, 59, 4);
  color : rgb(202, 202, 202);
}

& button:hover {
  opacity: 0.8;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  /* background-color: #b5c7fb; */
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}